$black: rgb(8, 8, 19);
$fadedBlack: rgb(19, 19, 32);
$gray: rgb(121, 121, 121);
$lightgray: rgb(150, 150, 150);
$fadedBlue: rgba(0, 123, 255, 0.1);
$fadedGreen: rgba(40, 167, 69, 0.1);
$fadedRed: rgba(255, 7, 58, 0.1);
$brightBlue: #007bef;
$brightRed: #ef105a;
$brightGreen: #30a755;
$brightYellow: #efef00;
$fadedYellow: #efef001f;