$green: rgb(23, 189, 81);
$black: rgb(22, 22, 37);
$white: #ffffff;
$faded-black: rgb(30, 30, 48);
$dark-black: #1c1c1c;
$gray: rgb(121, 121, 121);
$lightgray: lightgray;
$lightgreen: lighten($green, 10);
$red: #ff5454;
$yellow: #fdd835;
$textBlue: rgba(0, 123, 255, 0.7);
$fadedBlue: rgba(0, 123, 255, 0.1);
$fadedGreen: rgba(40, 167, 69, 0.1);
$fadedRed: rgba(255, 7, 58, 0.1);
$brightBlue: #007bff;
$brightRed: #ff073a;
$brightGreen: #28a745;