$green: rgb(23, 189, 81);
$black: #202020;
$white: #ffffff;
$faded-black: #2c2c2cb0;
$dark-black: #1c1c1c;
$gray: rgb(121, 121, 121);
$lightgray: lightgray;
$lightgreen: lighten($green, 10);
$red: #ff5454;
$blue: #74abec;
$yellow: #fdd835;