@import "./transitions";
@import "./colors";
@import "./typography";
@import "./animations";

@mixin lighten-hover($color, $amount: 5) {
  &:hover {
    background-color: lighten($color, $amount);
  }
}

@mixin darken-hover($color, $amount: 5) {
  &:hover {
    background-color: darken($color, $amount);
  }
}

@mixin block-link {
  cursor: pointer;
  text-decoration: none;
  color: $brightYellow;
  border: none;
  outline: none;
  transition: color 0.5s ease-out;

  &:hover {
    color: darken($brightYellow, 5)
  }
}

@mixin standard-button {
  background-color: $fadedYellow;
  color: $brightYellow;
  @include darken-hover($fadedYellow);
  cursor: pointer;
  border: none;
  outline: none;
  padding: 10px 15px;
  border-radius: 5px;
  box-sizing: border-box;
  transition: $background-hover;
  @include typography-caption-super();
  font-weight: bold;

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

@mixin animate-drop-block($elementCount, $direction: normal) {
  @for $iterator from 1 through $elementCount {
    $duration: 0.5s;
    @include animate-drop($duration, $iterator, $direction);
  }
}

@mixin animate-rise-block($elementCount, $direction: normal) {
  @for $iterator from 1 through $elementCount {
    $duration: 0.5s;
    @include animate-rise($duration, $iterator, $direction);
  }
}

@mixin animate-slide-left-block($elementCount, $direction: normal) {
  @for $iterator from 1 through $elementCount {
    $duration: 0.5s;
    @include animate-slide-left($duration, $iterator, $direction);
  }
}

@mixin animate-slide-right-block($elementCount, $direction: normal) {
  @for $iterator from 1 through $elementCount {
    $duration: 0.5s;
    @include animate-slide-right($duration, $iterator, $direction);
  }
}
