.chart-container {
    display: flex;
    @media only screen and (max-width: 1279px) {
        flex-direction: column;
    }
    .chart-wrapper {
        flex: 1;
        margin: 0px 2.7vw 5px;
        padding: 5px 1vw 0px;
        .chart-header {
            margin: 1vw 1vw 0;
            display: flex;
            justify-content: space-between;
            .chart-summary-container {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
            }
            .chart-action-container {
                display: flex;
                button {
                    @include standard-button();
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 10px;
                    border-radius: 50%;
                    max-width: 35px;
                    max-height: 35px;
                    min-width: 35px;
                    min-height: 35px;
                    img {
                        width: 100%;
                    }
                    > * {
                        pointer-events: none;
                    }
                    &:nth-child(2) {
                        transform: rotateY(180deg);
                        margin-left: 5px;
                    }
                }
            }
            @media only screen and (max-width: 1279px) {
                margin-left: 2vw;
                margin-top: 2vw;
            }
            .chart-value {
                @include typography-label();
            }
            .chart-type {
                @include typography-caption-super();
                font-weight: bold;
            }
        }
        &:first-child {
            .chart-header {
                color: $brightBlue;
            }
            margin-right: 1.35vw;
            background-color: rgba(0, 123, 255, 0.05);
            @media only screen and (max-width: 1279px) {
                margin-right: 2.7vw;
            }
        }
        &:last-child {
            .chart-header {
                color: $brightRed;
            }
            margin-left: 1.35vw;
            background-color: rgba(255, 7, 58, 0.05);
            @media only screen and (max-width: 1279px) {
                margin-left: 2.7vw;
            }
        }
        border-radius: 10px;
    }
    .chart-label {
        @include typography-caption();
        font-weight: bold;
        user-select: none;
        cursor: pointer;
        fill: $gray;
    }
}

.chart-title-container {
    display: flex;
    flex-direction: column;
    margin: 0px 2.7vw 20px;
    align-items: flex-end;
    .chart-title {
        color: $brightYellow;
        @include typography-intro();
        font-weight: bold;
        margin-bottom: 5px;
    }
    .chart-subtitle {
        color: $gray;
        @include typography-caption();
        margin-bottom: 5px;
    }
}
.chart-help {
    display: flex;
    flex-direction: column;
    margin: 0px 2.7vw 30px;
    align-items: flex-end;
    color: $gray;
    @include typography-caption-reduced();
    div {
        text-align: right;
    }
}
