.dashboard-count {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 40px 10px;
    margin-top: 10px;
    width: 33%;
    max-width: 33vw;
    cursor: pointer;

    &.dashboard-count-confirmed {
      color: $brightBlue;
      &:hover {
        background-color: $fadedBlue;
      }
      &.dashboard-count-active {
        background-color: $fadedBlue;
      }
    }

    &.dashboard-count-deaths {
      color: $brightRed;
      &:hover {
        background-color: $fadedRed;
      }
      &.dashboard-count-active {
        background-color: $fadedRed;
      }
    }
    &.dashboard-count-recovered {
      color: $brightGreen;
      &:hover {
        background-color: $fadedGreen;
      }
      &.dashboard-count-active {
        background-color: $fadedGreen;
      }
    }

    .dashboard-count-label {
      @include typography-caption-super();
      font-weight: bold;
      margin-bottom: 10px;
    }

    .dashboard-count-value {
      @include typography-intro-super();
      font-weight: bold;
    }
  }