.header-container {
    display: flex;
    align-items: flex-start;
    margin-top: 10px;
    .selected-country {
      flex: 1;
    }
    .header-wrapper {
      display: flex;
      flex: 1;
      justify-content: center;
      flex-direction: column;
      margin-right: 2.7vw;
      align-items: flex-end;
      .header {
        color: $brightRed;
        @include typography-intro();
        font-weight: bold;
        margin-bottom: 5px;
        text-align: right;
      }
      .header-subtitle {
        @include typography-caption();
        color: $gray;
        text-align: right;
      }
    }
}