.blocks {
  margin-top: 20px;
  flex-wrap: wrap;

  .block-container {
    margin-bottom: 20px;
    background-color: $faded-black;
    border-radius: 20px;
    padding: 20px;
    box-sizing: border-box;
    width: 46.5vw;

    @media only screen and (max-width: 1068px) {
      width: 95vw;
    }

    .block-header {
      padding-left: 10px;
      padding-top: 5px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      @include typography-label();

      .button-container {
        display: flex;
        .standard-button {
          @include standard-button();
          &:last-child {
            margin-left: 5px;
          }
        }
      }
      .select-container {
        @include typography-caption();
        font-weight: bold;
        width: 300px;
        div {
          background-color: $faded-black !important;
          color: $lightgray;
          border-color: $yellow !important;
          box-shadow: none !important;
        }
      }
    }

    .status-chart {
      width: calc(100% + 40px);
      margin-left: -20px;
      height: 450px;
      min-height: 35vw;
      display: flex;
      justify-content: center;
      align-items: center;
      .no-data {
        @include typography-label-super();
      }
      text {
        @include typography-caption();
        font-weight: bold;
      }
      .recharts-pie-sector path {
        stroke: $lightgray;
      }
      @media only screen and (max-width: 1068px) {
        height: 90vw;
      }
    }

    .status-daily-chart {
      width: calc(100% + 20px);
      height: 450px;
      min-height: 35vw;
      margin-top: 40px;
      margin-left: -20px;
      text {
        @include typography-caption();
        font-weight: bold;
      }
      @media only screen and (max-width: 1068px) {
        height: 400px;
      }
    }
  }
}
