@import "./partials/mixins";
@import "./pages/loader";
@import "./pages/dashboard-counts";


body {
  margin: 0px;
  background-color: $black;
  color: $lightgray;
}

input,
textarea,
button,
select,
a,
div {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.app-block {
	width: 100vw;
	min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  
  .dashboard-counts {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
}
